@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
}

html,
body {
  min-height: 100%;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.7s ease-out forwards;
}

.animate-fade-in-up-delay {
  animation: fade-in-up 0.7s ease-out 0.2s forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up-delay-2 {
  animation: fade-in-up 0.7s ease-out 0.4s forwards;
  opacity: 0;
}
